body {
    margin: 10 px;
}

#contents {
    text-align: center;
    display: flex;
}

#name {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

#github {
    font-size: small;
    color: gray;
    text-decoration: none;
}

#github:hover {
    text-decoration: underline;
}

#job {
    font-size: medium;
}

#copyright {
    font-size: x-small;
    margin-top: 230px;
}

#language-switch {
    color: darkcyan;
    font-size: small;
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
}